li {
    list-style-type: none;
}
body{
    background-color: black;
    color: white;
}


nav {
    background-color: #333333cb; 
    padding: 10px 20px;
}


#seta {
    font-size: 30px; 
    color: white; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}


#seta:hover {
    color: #ddd; 
}



nav {
    padding: 10px 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
}


.menu li {
    margin: 0 15px; 
}


#menu .seta {
    font-size: 30px;
    margin-left: 0; 
    margin-right: 0; 
}


.menu li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.menu li a:hover {
    color: white;
}


.center-item {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}

#botao {
    background-color: #8c8c8c;
}

#formulario {
    justify-content: left;
}

.formulario form {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.formulario .form-control {
    width: auto; 
    margin-right: 10px; 
}

body {
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('img/backgroundgeral.png');
    color: white;
  }