@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* CSS base para o jogo */
body {
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('img/backgroundgeral.png');
    color: white;
  }
  
.title{
    font-size: 9rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

button {
    background-color: #6200ea;
    min-width: 7rem;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #3700b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

@media (max-width: 768px) {

    body {
        padding: 1rem;
    }

    .container {
        padding: 0.5rem;
    }

    header {
        font-size: 1.2rem;
        padding: 0.8rem;
    }

    button {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    ul {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {

    body {
        padding: 1rem;
    }

    header {
        font-size: 1rem;
        padding: 0.5rem;
    }

    button {
        padding: 0.4rem;
        font-size: 0.8rem;
    }

    ul {
        font-size: 0.8rem;
    }
}
.menu-item{
    font-size: 3rem;
}
.p_d {
    font-size: 4rem;
    margin-top: 2rem;
}
.p_c{
    font-size: 8rem;
    margin-top: 6rem;
}
.p_c_t {
    margin-top: 1rem;
    font-size: 8rem;
}
.p_s{
    font-size: 3rem;
    text-decoration: none;
}
.p {
    font-size: 2rem;
    margin-top: -1.5rem;   
}
.p_t{
    font-size: 2rem;
    margin-left: 30%;
    margin-right: 30%;
}
.sp {
    margin-top: 2rem;
}
.sp_g {
    margin-top: 4rem;
}
.ftf{
    margin-bottom: 6rem;
}
.ftf_t{
    margin-bottom: 6rem;
    overflow-y:hidden;
}
.back {
    background-image: url('img/background.png');
}
.tt {
    color: white;
    font-size: 6rem;
    margin-top: -6rem;
    margin-bottom: 2rem;
}
.img{
    margin-top: 3rem;
    height: 200px;
    width: 200px;
}
.a-h{
    color: rgb(173, 173, 173);
}
.a-h:hover{
    color: white;
    
}
li {
    list-style-type: none;
}

