{% extends "modelo.html" %}

{%block titulo%}
A Condessa - Biblioteca
{%endblock titulo%}

{%block conteudo%}
     <h1>Biblioteca</h1> 
     <h2>Jogadores adicionados:</h2>
     <ul>
          {% for jogador in session.get('jogadores', []) %}
               <li>{{ jogador }}</li>
          {% endfor %}
     </ul>
     
     <a href="{{url_for('form.jogo_form')}}">Adicionar Jogadores</a>
     <br>
     {% if session.get('jogadores') %}
          <form method="POST" action="{{url_for('jogo.iniciar_jogo')}}">
               <button type="submit">Iniciar Jogo</button>
          </form>
     {% endif %}
{%endblock conteudo%}