{% extends "modelo.html" %}
{%block conteudo%}
<center><div class="ftf">
    <div>
        <h1 class="p_c">Créditos</h1>
        <p class="p_d">Diretores</p>
        <p class="p_s">Gerais</p>
        <div class="sp">
            <p class="p">Yagor</p>
            <p class="p">Luiz</p>
        </div>
    </div>
    <div>
        <p class="p_s">Arte e Estilo</p>
        <div class="sp">
            <p class="p">Yuri</p>
            <p class="p">Marco</p>
        </div>
        <p class="p_s">Programação e Git</p>
        <div class="sp">
            <p class="p">Samuel</p>
        </div>
    </div>
    <div class="sp_g">
        <p class="p_d">Integrantes</p>
        <p class="p_s">Arte e Estilo</p>
        <div class="sp">
            <p class="p">Yasmin</p>
            <p class="p">Luana</p>
            <p class="p">Victor</p>
            <p class="p">Sophia</p>
            <p class="p">Maria</p>
            <p class="p">Sarah</p>

        </div>
        <p class="p_s">Programação e Git</p>
        <div class="sp">
            <p class="p">Nalany</p>
            <p class="p">Manuela</p>
            <p class="p">Miguel</p>
        </div>
    </div>
    <a href="/" class="p_s a-h">Voltar</a>
</div>


{%endblock%}