{% extends 'modelo.html' %}

{% block titulo%}
    A Condessa - Home
{% endblock %}

{% block conteudo %}
    <div class="container text-center">

        <h1 class="title mt-5">A Condessa</h1>

        <div class="d-flex flex-column game-menu">
            <a class="text-decoration-none menu-item" href="{{url_for('home.biblioteca')}}">Jogar</a>
            <a class="text-decoration-none menu-item" href="{{url_for('home.tutorial')}}">Tutorial</a>
            <a class="text-decoration-none menu-item" href="{{url_for('home.historia')}}">História</a>
            <a class="text-decoration-none menu-item" href="{{url_for('home.creditos')}}">Créditos</a>
        </div>

    </div>

{% endblock %}