<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Adicionar Jogadores</h1>
    <form action="{{ url_for('home.biblioteca') }}" method="POST" id="form_player">
        <input type="text" name="jogador" placeholder="Jogador" id="Adicionar_player" required>
        <button type="submit">Enviar</button>
    </form>

    <script src="{{ url_for('static', filename='js/teste.js') }}"></script>
</body>
</html>