<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style.css') }}">
    <title>Seu Papel</title>
</head>
<body>
    <h1>{{ jogador }}</h1>
    <h2>Seu Papel: {{ papel }}</h2>

    {% if aliados %}
        <p><strong>Aliados:</strong> {{ aliados | join(", ") }}</p>
    {% endif %}

    <form method="POST">
        <button type="submit">Continuar</button>
    </form>

</body>
</html>
