<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style2.css') }}">
        <title>Ações Noturnas</title>
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            <div id='entregar-dispositivo'>
                <h1>Entregue o dispositivo para o(a) <span class='nome_player'>{{ jogador_atual }}</span></h1>
                <form method='POST'>
                    <button type="button" id="revelar-papel" class='play'>Realizar ação</button>
                </form>
            </div>

            <div id="papel" class="mt-4" style="display: none;">
                <p>Seu papel: <span id="papel-atual">{{ papel_atual }}</span></p>
                {% if mensagem_inspecao %}
                    <p><strong>{{ mensagem_inspecao }}</strong></p>
                {% endif %}
                {% if papel_atual == "Condessa" %}
                    <div class="dudu">
                        <div class="flip">
                            <div class="flip-inner">
                                <div class="face front"></div>
                                <div class="face back" id="back-{{ papel_atual | lower }}"></div>
                            </div>
                        </div>
                    </div>
            {% endif %}
            {% if papel_atual == "Vampiro" %}
                <div class="dudu">
                    <div class="flip">
                        <div class="flip-inner">
                            <div class="face front"></div>
                            <div class="face back" id="back-{{ papel_atual | lower }}"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if papel_atual == "Açougueiro" %}
                <div class="dudu">
                    <div class="flip">
                        <div class="flip-inner">
                            <div class="face front"></div>
                            <div class="face back" id="back-{{ papel_atual | lower }}"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if papel_atual == "Campones" %}
                <div class="dudu">
                    <div class="flip">
                        <div class="flip-inner">
                            <div class="face front"></div>
                            <div class="face back" id="back-{{ papel_atual | lower }}"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if papel_atual == "Caçador" %}
                <div class="dudu">
                    <div class="flip">
                        <div class="flip-inner">
                            <div class="face front"></div>
                            <div class="face back" id="back-{{ papel_atual | lower }}"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
            <br>
            <div id='botoes' style='display: none'>
                {% if papel_atual == 'Campones' %}
                    <form method="POST">
                        <button type="submit" name="pular" value="true" class='play'>Pular Rodada</button>
                    </form>
                {% else %}
                    <form method="POST">
                        <label for="alvo">Selecione um alvo:</label>
                        <select name="alvo" required>
                            {% for jogador in jogadores_vivos %}
                                {% if jogador != jogador_atual %}
                                    <option value="{{ jogador }}">{{ jogador }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br>
                
                        {% if papel_atual in ['Vampiro', 'Condessa', 'Caçador'] %}
                            <button type="submit" name="acao" value="matar" class='play mt-3' >Matar</button>
                        {% endif %}

                        {% if papel_atual in ['Médico'] %}
                            <button type="submit" name="acao" value="curar" class='play mt-3'>Salvar</button>
                        {% endif %}

                        {% if papel_atual in ['Hierofante'] %}
                            <button type="submit" name="acao" value="tentativa" class='play mt-3'>Jogar água benta</button>
                        {% endif %}
                
                        {% if papel_atual == 'Açougueiro' %}
                            <button type="submit" name="acao" value="inspecionar" class="play">Inspecionar</button>
                            <button class="play">Proximo</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>

        <script src="{{ url_for('static', filename='js/acougueiro.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>