<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Resumo da Noite</h3>

    <h4>Jogadores Mortos:</h4>
    <ul>
        {% for jogador in mortos %}
            <li>{{ jogador }}</li>
        {% endfor %}
    </ul>

    <h4>Jogadores Vivos:</h4>
    <ul>
        {% for jogador in vivos %}
            <li>{{ jogador }}</li>
        {% endfor %}
    </ul>

    <p>Agora, a votação irá começar!</p>
    <form method="POST">
        <button type="submit">Iniciar Votação</button>
    </form>
</body>
</html>